[taky]
# System hostname
#hostname=taky.local
# The TAK Server nodeId
#node_id=TAKY
# The IP to bind to. Defaults to 0.0.0.0. To use IPv6, set to "::"
#bind_ip=
# The server's public IP address
#public_ip=

[cot_server]
# If left blank, taky will listen on 8087 without SSL, or 8089 with SSL 
#port=

[dp_server]
# Where user datapackage uploads are stored.
# For quick testing, set to /tmp/taky
#upload_path=/var/taky/dp-user

[ssl]
# SSL is disabled by default. Set enabled to "true" to enable
#enabled=false

# Should taky require clients to have a certificate?
#client_cert_required=false

# The server certificate or certificate+keyfile
#cert=/etc/taky/ssl/server.pem

# Specify the SSL key path
#key=

# Specify the SSL key password (if required)
#key_pw=

# Specify an explicit CA certificate
# If left blank, will use system CA certificates
#ca=
