on:
  pull_request:
  push:
    branches:
      - 'main'

env:
  PLATFORMS: linux/amd64, linux/arm64, linux/armv7

jobs:
  build_images:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ inputs.image-name }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Set up QEMU
        # Needed as part of https://github.com/docker/buildx/issues/495#issuecomment-1043341496
        id: qemu
        uses: docker/setup-qemu-action@v1
        with:
          image: tonistiigi/binfmt:latest
          platforms: all

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker meta for postgres-operator
        id: postgres-operator-meta
        uses: docker/metadata-action@v4
        with:
          images: ghcr.io/${{ github.repository_owner }}/taky

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: docker/${{inputs.image-name}}
          push: ${{inputs.push}}
          platforms: ${{ env.PLATFORMS }}
          pull: true
          build-args: VERSION=${{ github.ref_name }}
          tags: ${{ steps.docker-meta.outputs.tags }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new

      - name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache
